<a id="menu-toggle" href="#" class="btn btn-dark-news btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="{{ site.url }}/index.html"  onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="{{ site.url }}/info.html" onclick = $("#menu-close").click(); >Info</a>
    </li>
    <li>
      <a href="{{ site.url }}/rates.html" onclick = $("#menu-close").click(); >Rates</a>
    </li>
    <li>
      <a href="{{ site.url }}/#services" onclick = $("#menu-close").click(); >Calendars</a>
    </li>
    <li>
      <a href="{{ site.url }}/gallery.html" onclick = $("#menu-close").click(); >Photos</a>
    </li>
    <li>
      <a href="{{ site.url }}/#map" onclick = $("#menu-close").click(); >Map</a>
    </li>
    <li>
      <a href="https://www.ultracamp.com/clientlogin.aspx?idCamp=512&campCode=cfo" target="_blank" onclick = $("#menu-close").click(); >Register</a>
    </li>
    <li>
      <a href="{{ site.url }}/form.html" onclick = $("#menu-close").click(); >Work</a>
    </li>
    <li>
    <li>
      <a href="{{ site.url }}/counselor.html" onclick = $("#menu-close").click(); >Counselor</a>
    </li>
    <li>
      <a href="{{ site.url }}/#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
