<section id="photos" class="portfolio">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 text-center h2">
          <div class="portfolio-item">
            <a href="gallery.html">
              <h1>Photos and Videos</h1>
              <img class="img-portfolio img-responsive" src="/img/upside_down.jpg">
            </a>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
